services:
  ad-server:
    image: nowsci/samba-domain
    container_name: ad_server
    privileged: true
    environment:
      - "DOMAIN=corp.test.local"
      - "DOMAINPASS=Password123!" 
      - "DNSFORWARDER=8.8.8.8"
      - "INSECURELDAP=true"
    ports:
      - "389:389"
      - "636:636"
      - "53:53"
      - "53:53/udp"
    networks:
      ad_network:
        ipv4_address: 172.20.0.10
    volumes:
      - ad_data:/var/lib/samba
    restart: always

  ad-seeder:
    build: ./ad-setup       
    container_name: ad_seeder
    depends_on:
      - ad-server           
    networks:
      - ad_network
    environment:            
      - DOMAIN=corp.test.local
      - DOMAINPASS=Password123!
    restart: "no"
    command: >
        bash -c "while ! nc -z ad-server 389; do echo 'Waiting for AD service (LDAP 389)...'; sleep 3; done; echo 'Port Open! Waiting 20s for DB init...'; sleep 20; /usr/local/bin/seed-run.sh"
    
  neo4j:
    build: 
      context: ./neo4j
    image: neo4j:latest
    container_name: neo4j-graph
    environment:
      - NEO4J_AUTH=neo4j/123456789
      - NEO4J_apoc_export_file_enabled=true
      - NEO4J_apoc_import_file_enabled=true
      - NEO4J_apoc_import_file_use__neo4j__config=true
      - NEO4J_PLUGINS=["apoc"]
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j_data:/data
    networks:
      - ad_network

  backend:
    build: ./backend
    container_name: scanner-backend
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=123456789
    ports:
      - "8000:8000"
    depends_on:
      - neo4j
    networks:
      - ad_network
    volumes:
      - ./backend:/app
#
#  frontend:
#    build: ./frontend
#    container_name: scanner-frontend
#    ports:
#      - "3000:80"
#    depends_on:
#      - backend
#    networks:
#      - ad_network

networks:
  ad_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16

volumes:
  ad_data:
  neo4j_data: